lxml == 5.3.1
tqdm == 4.67.1
numpy == 2.2.2
pandas == 2.2.3
scipy == 1.15.0
urllib3 == 2.3.0
matplotlib == 3.10.0
openpyxl == 3.1.5
requests == 2.32.3
bottleneck == 1.4.2
XlsxWriter == 3.2.2
scikit-learn == 1.6.1
fake_useragent == 2.0.3
beautifulsoup4 == 4.13.3
opencv-python == 4.11.0.86
pillow == 11.1.0